<!DOCTYPE html>
<html lang="en" >
    <title>Launches Tracker</title>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}/>
    </head>

    <body>
        <div class="launch-intro" style="background-image: url({{ url_for('static', filename='space-launch.jpg') }})">
            <h1>Checking out the launches from SpaceX</h1>
        </div>
        <span>
            <div class="section-title"> Last Launch Registered </div>
            <div class="content">
                <img class="rocket-icon" src={{ url_for('static', filename=last_launch.id + '.png') }}/>
                <span class="rocket-model">Model {{last_launch.model}}</span>
                <span>Launch time: <br>{{last_launch.date}}</span>
                <span class="youtube-link">Webcast on Youtube: <a href={{last_launch.webcast}}>{{last_launch.webcast}}</a></span>
            </div>
        </span>

        <span>
            <div class="section-title"> Next Launch Schedule </div>
            <div class="content">
                <img class="rocket-icon" src={{ url_for('static', filename=next_launch.id + '.png') }}/>
                <span class="rocket-model">Model {{next_launch.model}}</span>
                <span>Launch time: <br>{{next_launch.date}}</span>
                <span class="youtube-link">Webcast on Youtube: Available after launch</span>            </div>
        </span>

        <span>
            <div class="section-title"> Upcoming Launches Schedule </div>
            {% for launch in upcoming_launches %}
                <div class="content">
                    <img class="rocket-icon" src={{ url_for('static', filename=launch.id + '.png') }}/>
                    <span class="rocket-model">Model {{launch.model}}</span>
                    <span>Launch time: <br>{{launch.date}}</span>
                    <span class="youtube-link">Webcast on Youtube: Available after launch</span>
                </div>
            {% endfor %}
            <a href="/upcoming-launches"> more Upcoming Launches </a>
        </span>

        <span>
            <div class="section-title"> Past Launches Registered</div>
            {% for launch in past_launches %}
                <div class="content">
                    <img class="rocket-icon" src={{ url_for('static', filename=launch.id + '.png') }}/>
                    <span class="rocket-model">Model {{launch.model}}</span>
                    <span>Launch time: <br>{{launch.date}}</span>
                    <span class="youtube-link">Webcast on Youtube: <a href={{launch.webcast}}>{{launch.webcast}}</a></span>
                </div>
            {% endfor %}
            <a href="/past-lauches"> more Past Launches </a>
        </span>

    </body>
</html>
